

{{define "bootstrapEnd"}}
   <!-- jquery & Bootstrap JS -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
   </script>
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
   </script>
 </body>
</html>
{{end}}
