{{define "yield"}}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Click to Reset Password</h3>
      </div>
      <div class="panel-body">
        {{template "forgotPwForm" .}}
      </div>
      <div class="panel-footer">
        <a href="/login">Remember your password?</a>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "forgotPwForm"}}
<form action="/forgot" method="POST">
  {{csrfField}}
  <div class="form-group">
    <label for="email">Your Email address</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{{.Email}}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{end}}
